<div class="col-xs-12 col s12 text-center">
  <form method="POST" action="/stripe/checkout_action">
    <button type="submit">
      <i class="fa fa-cc-stripe fa-lg" aria-hidden="true"></i> Process payment <i class="fa fa-cc-stripe fa-lg" aria-hidden="true"></i>
    </button>
  </form>
</div>
